#topic_list > div {
  margin: .5rem auto;
}

#topic_list div p  {
  padding: 1rem 0;
}

#topic_list div a  {
  color: #323232;
  text-decoration: none;
  font-size: 1.1rem;
}

/* #board-title {
  margin: 2rem auto;;
} */
