code.javascript .comment {
  color: #dcdcdc;
}

code.javascript .keyword {
  color: #f553e5;
}

code.javascript .operator {
  color: #536df5;
}

code.javascript .function {
  color: #53f0f5;
}

code.javascript .var {
  color: #f95a37;
}

code.javascript .string {
  color: #37f95c;
}

code.javascript .number {
  color: #f9ab37;
}

code.javascript .constructor {
  color: #faff00;
}
