#blog-title {
  padding: 1rem;
  background: white;
  border-bottom: 3px solid #dcdcdc;
  text-align: center;
  color: #323232;
}

#menu-open-btn-in-blog-title {
  position: absolute;
  top: 2em;
  right: .75em;
  width: 2.5em;
}
