.button {
  cursor: pointer;
  display: block;
  width: 50%;
  max-width: 150px;
  margin: .75rem auto;
  padding: .5rem;
  border-radius: 8px;
  text-decoration: none !important;
  text-align: center;
  font-weight: 800;
  font-size: 1.25rem;
  background: #dcdcdc;
  background: rgba(218, 218, 218, 0.8);
  color: #323232;
}

.long.button {
  width: 80%;
  max-width: 450px;
}

.white.button {
  background: white;
  color: #323232;
}

.black.button {
  background: #323232;
  color: white;
}

.g-blue.button {
  background: #298cff;
  background: linear-gradient(90deg, #298cff 0%, #00c2ff 100%);
  color: white;
}

.g-orange.button {
  background: #ff9c29;
  background: linear-gradient(90deg, #ff9c29, #f0bb7e);
  color: white;
}

.g-yellow.button {
  background: #fff029;
  background: linear-gradient(90deg, #fff029, #e6d938);
  color: #323232;
}

.g-green.button {
  background: #52f219;
  background: linear-gradient(90deg, #52f219, #a8d997);
  color: white;
}

.dark.button {
  background: #323232;
  background: linear-gradient(90deg, #565656, #323232);
  color: white;
}
