p.title {
  width: 90%;
  max-width: 550px;
  margin: .5rem auto;
  border-bottom: 2px solid #323232;
  font-size: 1.5rem;
  font-weight: 800;
}

p.box-title {
  width: 80%;
  max-width: 450px;
  margin: 1rem auto;
  padding: 1rem;
  background: white;
  color: #323232;
  font-size: 1.5rem;
  font-weight: 800;
}

.main-title {
  padding: 3rem 1rem;
  margin: 0 0 2rem 0;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
  color: white;
  background: #36d1dc;
  background: linear-gradient(90deg, #36d1dc, #5b86e5);
}

.box {
  width: 80%;
  max-width: 450px;
  margin: 1rem auto;
  padding: 1rem;
  background: white;
}

p.no-border.title {
  border: 0 !important;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.shadow {
  box-shadow: 3px 3px 4px rgba(16, 16, 16, 0.3), -2px -2px 4px rgba(80, 80, 80, 0.1);
}
.rounded {
  border-radius: .75rem;
}

.container {
  width: 90%;
  max-width: 550px;
  margin: auto;
}

.glass-bg {
  background: rgba(255, 255, 255, 0.95);
}

@supports (backdrop-filter: blur(0))
       or (-webkit-backdrop-filter: blur(0)) {
  .glass-bg {
   backdrop-filter: blur(40px);
   -webkit-backdrop-filter: blur(40px);
   background: rgba(255, 255, 255, 0.6) !important;
  }
}

img.icon {
  width: 5rem;
  margin: 1.5rem auto;
}

code {
  overflow-x: scroll;
  display: block;
  margin: 1rem;
  padding: 1rem;
  border-top: .5rem solid #8e8;
  border-radius: .5rem;
  white-space: pre;
  background: #323232;
  color: white;
}
