header {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 4em;
  text-align: center;
}

#header-title {
  font-size: 1.5rem;
  vertical-align: middle;
}

#header-title a {
  color: #323232;
  text-decoration: none;
}

#blog-icon {
  cursor: pointer;
  position: absolute;
  left: .75em;
  top: .75em;
  width: 2.5em;
  border-radius: 5px;
}

#menu-open-btn {
  cursor: pointer;
  position: absolute;
  right: .75em;
  top: .75em;
  width: 2.5em;
}
