#menu {
  overflow-y: scroll;
  transition: left .5s;
  z-index: 20;
  position: fixed;
  left: -105vw;
  top: 0;
  width: 100vw;
  max-width: 550px;
  height: 100vh;
  padding: 2rem 0;
  border-right: 2px solid #dcdcdc;
  background: #323232;
}

#menu.open {
  left: 0;
}

#menu.close {
  left: -105vw;
}

#menu .item {
  cursor: pointer;
  margin: 1rem;
  padding: .25rem;
  border-bottom: 2px solid white;
  color: white;
}
