html {
  font-family: "나눔고딕", nanumgothic,
               "애플산돌고딕네오", AppleSDGothicNeo,
               "애플고딕", AppleGothic,
               "돋움", Dotum,
               sans-serif;
}

head {
  display: none;
}

body,
nav,
header {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

p {
  margin: .5rem auto;
  padding: .5rem;
}

img,
canvas,
iframe {
  display: block;
  width: 100%;
}

a {
  color: #446bf6;
}

a[onclick] {
  cursor: pointer;
  text-decoration: underline;
}
