html {
  font-family: 'Nanum Gothic', sans-serif;
}

head {
  display: none;
}

body,
nav,
header {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

p {
  margin: .5rem auto;
  padding: .5rem;
}

hr {
  width: 90%;
  padding: 0;
  margin: 1rem auto;
  border: 0;
  border-bottom: 2px solid #dcdcdc;
}

img,
canvas,
iframe {
  display: block;
  width: 100%;
}

a {
  color: skyblue;
}

a[onclick] {
  cursor: pointer;
  text-decoration: underline;
}
