#background {
  padding: 4rem 2rem 8rem 2rem;
  background: #323232;
  background-image: url('../../../img/index/09090126.JPG');
  background-size: cover;
  text-align: center;
  color: white;
  background:
}
