div.list {
  max-width: 1600px;
  display: -ms-grid;
  display: grid;
  -ms-grid-colums: 1fr;
  grid-template-columns: 1fr;
  margin: auto;
}

@media screen and (min-width: 545px) and (max-width: 900px) {
  div.list {
    -ms-grid-colums: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 901px) and (max-width: 1200px) {
  div.list {
    -ms-grid-colums: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1201px) {
  div.list {
    -ms-grid-colums: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

div.list > div {
  cursor: pointer;
  padding: 3rem 0;
  margin: .5rem 1rem;
}

div.list > div > img {
  width: 40%;
  margin: 0 auto ;
  border-radius: 1rem;
}

div.list > div > h3 {
  margin: .5rem auto;
}

div.list > .html {
  background: linear-gradient(45deg, #fca761, #ff7400);
}

div.list > .css {
  background: linear-gradient(45deg, #459bf4, #405efb);
}

div.list > .js {
  background: linear-gradient(45deg, #efda4d, #edcf06);
}

div.list > .ui-ux {
  background: linear-gradient(45deg, white, #b0b0b0);
}

div.list > .ajgo {
  background: linear-gradient(45deg, #ffb44f, #ff9a12);
}

div.list > .dog-foot {
  background: linear-gradient(45deg, #ebe7bc, #e2e2c2);
}

div.list > .reverse-change {
  background: linear-gradient(45deg, #292929, #6a6a6a);
  color: white;
}
