header {
  padding-top: env(safe-area-inset-top);
  padding-top: constant(safe-area-inset-top);
}

#blog-icon,
#menu-open-btn {
  top: calc(.75em + env(safe-area-inset-top));
  top: calc(.75em + constant(safe-area-inset-top));
}
