.apple-safe-area-top {
  height: env(safe-area-inset-top);
  height: constant(safe-area-inset-top);
  height: var(safe-area-inset-top);
}

.apple-safe-area-bottom {
  height: env(safe-area-inset-bottom);
  height: constant(safe-area-inset-bottom);
  height: var(safe-area-inset-bottom);
}

.apple-safe-area-left {
  width: env(safe-area-inset-left);
  width: constant(safe-area-inset-left);
  width: var(safe-area-inset-left);
}

.apple-safe-area-right {
  width: env(safe-area-inset-right);
  width: constant(safe-area-inset-right);
  width: var(safe-area-inset-right);
}
